body{
   
    width: 300px;
    margin-left: 400px;
}
form{
     
    margin-left: 200px;
    margin-top: 150px;
    
}
input{
   margin: 20px;
   width: 150px;
   padding: 10px;
   border: 1 px soild black;
   border-radius: 10px;
}
label{
    color: blue;
}
 button{
     color: blue;
      border: 1 px soild black;
      border-radius: 10px;
      width:70px;
      margin-left:80px ;
    }
